<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item: <%= listItem.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
 <h1>Edit <%= listItem.title %></h1>
    
    <form action="/lists/<%= list._id %>/items/<%= listItem._id %>?_method=PUT" method="POST">
        
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= listItem.title %>" required>
        
        
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" value="<%= listItem.date %>">
        
        <label for="time">Time:</label>
        <input type="time" name="time" id="time"/>

        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes"><%= listItem.notes %></textarea>
        
        <label for="status">Status:</label>
    <select id="status" name="status">
    <option value="Upcoming">Upcoming</option>
    <option value="Current">Current</option>
    <option value="Completed">Completed</option>
  </select>

        <button type="submit">Save Changes</button> </form>
    
    <a href="/lists/<%= list._id %>/items/<%= listItem._id %>">Cancel and Back to Item</a>
</body>
</html>