<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Item: <%= listItem.title %></title>
    <link rel="stylesheet" href="/stylesheets/show.css">
</head>
<body>
    <%- include('../../partials/_navbar.ejs') %>
    
    <h1><%= listItem.title %> Details</h1>
    
    <div class="item-details-card">
        <p><strong>Date:</strong> <%= listItem.date %></p>
        <p><strong>Time:</strong> <%= listItem.time %></p>
        <p><strong>Status:</strong> <%= listItem.status %></p>
        
        <hr>
        
        <p><strong>Notes:</strong></p>
        <div class="item-notes">
            <%= listItem.notes %>
        </div>
    </div>
    
    <div class="action-button-group">
        
        <form action="/lists/<%= list._id %>/items/<%= listItem._id %>/edit" method="get">
            <button class="edit-item-button" type="submit">Edit this List Item</button> 
        </form>

        <form action="/lists/<%= list._id %>/items/<%= listItem._id %>?_method=DELETE" method="POST">
            <button class="delete-item-button" type="submit">Delete this List Item</button>
        </form>
        
    </div>

    <a class="back-link" href="/lists/<%= list._id %>">Back to Category</a>

</body>
</html>